*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: beige;
}
.navigation_bar {
    background-color: black;
    color: white;
    padding: 15px 0;
}
.container1 {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_links1 {
    display: flex;
    gap: 15px;
}
.nav_links1 a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
.nav_links1 a:hover {
    text-decoration: underline;
}
.main_bar {
    background-color: #d9d9d9;
    padding: 15px 0;
}
.container2 {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_link2 {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0;
}

.nav_link2 li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    background-color: white;
    border-radius: 20px;
    transition: 0.3s ease;
}

.nav_link2 a:hover {
    background-color: black;
    color: white;
}


.nav-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-icons a {
    font-size: 20px;
    color: black;
    transition: 0.3s ease;
}

.nav-icons a:hover {
    color: grey;
}


.banner {
    background-color: beige;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 {
    width: 90%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.banner_image {
    width: 50%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.banner_image2 {
    width: 50%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.content{
    text-align: left;
    max-width: 400px;
}
.content h2 {
    font-size: 24px;
    font-weight: bold;
    color: darkgray;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content h1 {
        font-size: 50px;
        font-weight: bold;
        color: black;
        text-transform: uppercase;
        letter-spacing: 1px;
}
.content p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}
.btn-dark {
    padding: 12px 24px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 5px;
}
#product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

